.container{
    display: flex;
    justify-content: center;
}
.container  > section{
    width: 100%;
    padding: 24px;
}

.inputstyle{
     width: 100%;
     padding-top: 12px;
}

.buttomstyle{
       
        padding-top: 24px;
}